main {
  display: flex;
  flex-direction: column;
  max-width: 910.133px;
  width: 100%;
  justify-self: center;
  gap: 22px;
  padding: 68px 0;
}

.top-container {
  display: flex;
  gap: 16px;
}

.add-game {
  text-decoration: none;
  padding: 8px 16px;
  cursor: pointer;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--primary-text);
  width: fit-content;
}

.add-game:hover {
  background-color: var(--button-hover);
}

.add-game-btn {
  display: none;
}

.game-info {
  display: flex;
  gap: 32px;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.game-name {
  text-align: center;
  padding: 64px 0;
}

.image-container {
  aspect-ratio: 6 / 4;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.main-image {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
  display: block;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category-header {
  color: var(--muted-text);
}

.categories {
  display: flex;
  gap: 8px;
}

.category {
  padding: 6px;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--other-btn-bg);
}

.description-container p {
  line-height: 1.5;
}

.right-container {
  display: flex;
  gap: 8px;
  width: 300px;
  flex-direction: column;
}

.price {
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 8px;
}

.buy-now,
.delete-game,
.edit-info {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}

.buy-now {
  background-color: var(--buy-now-btn-bg);
}

.delete-form {
  display: flex;
  flex-direction: column;
}

.delete-game,
.edit-info {
  background-color: var(--other-btn-bg);
  color: var(--primary-text);
}

.edit-info {
  text-align: center;
  text-decoration: none;
}

@media (max-width: 1080px) {
  main {
    max-width: 100%;
    padding: 68px 24px;
  }

  .image-container {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .game-info {
    flex-direction: column;
  }

  .game-name {
    display: none;
  }

  .right-container {
    width: 100%;
  }

  .price {
    text-align: center;
  }

  .add-game {
    display: none;
  }

  .add-game-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    align-self: center;
    aspect-ratio: 1 / 1;
    height: 50%;
    color: var(--primary-text);
    text-decoration: none;
    font-size: 20px;
    background-color: var(--other-btn-bg);
    border: none;
    border-radius: 100%;
    padding: 12px;
    cursor: pointer;
  }

  .add-game-btn:hover {
    background-color: var(--other-btn-bg-hover);
  }
}