.container {
  display: flex;
  gap: 16px;
}

.card-container {
  width: 175px;
  position: relative;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
  object-fit: cover;
}